.albums__container {
	grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
}

.albums__card {
	transition: all 0.15s ease-in-out;

	& img {
		transition: all 0.2s ease-in-out;
	}

	&:hover {
		& .albums__card__play-icon {
			bottom: 0.25rem;
			opacity: 100;
		}

		& img {
			object-fit: cover;
			opacity: 0.85;
		}
	}
}

.albums__card__play-icon {
	width: 2.5rem;
	height: 2.5rem;
	position: absolute;
	bottom: -0.25rem;
	right: 0.25rem;
	overflow: hidden;
	background-color: #1db954;
	box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
	opacity: 0;

	transition: all 0.2s ease-in-out;

	& > button {
		width: 2.5rem;
		height: 2.5rem;
	}

	& svg {
		width: 1rem;
		height: 1rem;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	&:hover {
		transform: scale(1.05);
	}
}
